:root {
    --main-color: #6A983C;
    --head-color: #151515;
    --text-color: #575757;
}

/* Fonts */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans';
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

/* CONTAINER */

.container {
    max-width: 1160px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    padding: 16px 0px;
}

.site-header__container-top {
    border-bottom: 1px solid #D1D1D1;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.chat-with-up {
    color: var(--main-color);
    margin-right: 33px;
}

.header-number {
    color: var(--head-color);
    margin-right: 33px;
}

.mail {
    color: var(--head-color);
    margin-right: auto;
}

.site-nav {
    display: flex;
}

.site-nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.site-nav__item:not(:last-child) {
    margin-right: 38px;
}

.site-nav__link {
    color: var(--main-color);
}

.site-header__container-middle {
    display: flex;
    align-items: center;
    padding: 45px 0px;
    flex-wrap: wrap;
    justify-content: space-between !important;
}

.logo {
    display: flex;
    margin-right: auto;
}

.form {
    padding: 10px 16px;
    background: rgba(249, 249, 249, 1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
}

.categories-list {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 15px;
    outline: none;
    margin-right: 24px;
}

.search {
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0px 24px;
    width: 250px;
    border-left: 1px solid #A9A9A9;
}

.search::placeholder {
    color: #A9A9A9;
}
.links{
    margin-right: auto;
}
.search-btn {
    border: none;
    background: none;
    background-image: url('../img/search-icon.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.search-btn:focus {
    box-shadow: 0px 0px 5px #575757;
}

.user-date {
    display: flex;
    align-items: center;
}

.cabinet {
    width: 24px;
    height: 24px;
    background-image: url('../img/user-account.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 40px;
}

.korzinka {
    width: 24px;
    height: 24px;
    background-image: url('../img/pocket.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.korzinka span {
    color: #151515;
    background-color: #E5704B;
    color: white;
    font-weight: bold;
    width: 16px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: -20%;
}

.site-header__container-botttom {
    background-color: #f9f9f9;
    padding: 16px 0px;
}

.dropdown-nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.dropdown-nav__item {
    position: relative;
    margin-right: 40px;
}

.dropdown-nav__item:last-child {
    margin-right: 0px;
}

.dropdown-nav__link {
    color: var(--head-color);
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}

.dropdown-nav__link::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('../img/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    margin-left: 6px;
    transition: 0.3s;
}

.dropdown-nav__item-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: none;
}

.dropdown-nav__item-item {
    margin-bottom: 5px;
}

.dropdown-nav__item-link {
    color: var(--head-color);
    font-weight: 400;
}

.dropdown-nav__item:hover .dropdown-nav__item-list {
    display: block;
}

.dropdown-nav__item:hover .dropdown-nav__link::after {
    transform: rotate(270deg);
}

@media screen and (max-width:771px) {
    .site-header__container-top {
        justify-content: center;
        text-align: center;
    }
    .site-header__container-middle {
        justify-content: center;
    }
    .form {
        margin: 20px;
    }
    .dropdown-nav__item {
        margin-bottom: 20px;
    }
    .dropdown-nav__list {
        justify-content: center;
    }
    .links{
        margin: auto;
    }
    .logo{
        margin: auto;
    }
    .user-date{
        margin: auto;
    }
}

@media screen and (max-width:500px) {
    .burger-btn {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 7%;
        left: 10%;
        width: 35px;
        height: 35px;
        margin-top: -17.5px;
        margin-left: -17.5px;
    }
    .burger-btn .lines {
        display: block;
        width: 100%;
        height: 4px;
        background: #151515;
        position: relative;
        top: 50%;
        transition: transform 0.5s cubic-bezier(0, 0, 1, 1), background 0.5s ease;
        margin-top: -2px;
    }
    .burger-btn .lines:after, .burger-btn .lines:before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        background: #151515;
        -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .burger-btn .lines:after {
        bottom: -10px;
    }
    .burger-btn .lines:before {
        top: -10px;
    }
    .burger-btn.active .lines {
        background: transparent;
        transform: rotate(90deg);
    }
    .burger-btn.active .lines:after {
        top: 0;
        transform: rotate(-135deg);
    }
    .burger-btn.active .lines:before {
        top: 0;
        transform: rotate(135deg);
    }
    .site-header__container-top {
        position: absolute;
        background-color: var(--text-color);
        color: white;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        margin-top: 80px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 99;
        transform: translateX(-600px);
        opacity: 0;
        transition: 0.2s ease;
    }
    .site-nav {
        width: 70vw;
        height: 80vh;
        background-color: #151515;
        justify-content: flex-start;
    }
    .links {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 20vh;
        background-color: #151515;
        width: 70vw;
        position: absolute;
        top: 80vh;
        padding: 20px;
    }
    .active-nav{
        opacity: 1;
        transform: translateX(0px);
        background: linear-gradient(rgba(18, 18, 19, 0.7), rgba(13, 13, 14, 0.7));
    }
    .chat-with-up {
        margin: 0;
        color: white;
    }
    .header-number {
        margin: 0;
        color: white;
    }
    .mail {
        color: white;
    }
    .site-nav__list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }
    .site-nav__link {
        font-size: 16px;
        color: white;
    }
    .site-nav__item {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }
    .site-header__container-middle {
        padding: 0px;
    }
   
    .form {
        background-color: transparent;
    }
    .search {
        max-width: 100px;
        border: none;
    }
    .user-date {
        position: absolute;
        flex-direction: column;
        top: 5vh;
        right: 5vw;
    }
    .cabinet {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .categories-list {
        width: 100%;
        margin: 0vh 20vw;
        margin-bottom: 20px;
        margin-left: 0px !important;
    }
    .search {
        display: none;
    }
    .search-btn {
        position: absolute;
        right: 5.5vw;
        top: 18vh;
        width: 20px;
        height: 20px;
    }
    .dropdown-nav__list{
        flex-direction: column;
        justify-content: flex-start;
    }
    .dropdown-nav__item{
        margin-right: 0;
    }
    .dropdown-nav__item-list{
        background-color: white;
        z-index: 99;
    }
    .logo{
        margin: auto;
    }
    .links{
        margin: auto;
    }
}

@media screen and (max-width:432px) {
    .categories-list {
        margin-bottom: 20px;
        margin-right: auto;
    }
}

